# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
## Assignment 1
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print(f"First Element: {tpl[0]}")
print(f"First Element: {tpl[len(tpl)//2]}")
print(f"First Element: {tpl[-1]}")

First Element: 1
First Element: 6
First Element: 10

In [5]:
print(f"First 3 elements: {tpl[0:3]}")
print(f"The last 3 elements: {tpl[-3:]}")
print(f"Elements from index 2 to 5: {tpl[2:6]}")

First 3 elements: (1, 2, 3)
The last 3 elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

In [6]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

In [7]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)
print(tpl1+tpl2)

(1, 2, 3, 4, 5, 6)

In [8]:
tpl = (1,2,2,3,3,3,4,4,4,4)
print(f"Occurences of 4: {tpl.count(4)}")
print(f"Index of first occurence of 2: {tpl.index(2)}")

Occurences of 4: 4
Index of first occurence of 2: 1

In [10]:
tpl = (1,2,3,4)
a,b,c,d = tpl
print(a,b,c,d)

1 2 3 4

In [11]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [12]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(nested_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [13]:
tpl = tuple(range(1,6))
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [14]:
string = "hello"
tpl = tuple(string)
print(tpl)
joined_string = ' '.join(tpl)
print(joined_string)

('h', 'e', 'l', 'l', 'o')
h e l l o

In [15]:
tpl_dict = {
    (1,2): 3,
    (4,5): 6,
    (7,8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [16]:
for tpl in nested_tpl:
    for item in tpl:
        print(item)

1
2
3
4
5
6
7
8
9

In [17]:
tpl = (1,2,2,3,3,3,4,4,4,4)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4}

In [20]:
def min_tuple(tpl):
    return min(tpl)

def max_tuple(tpl):
    return max(tpl)

def sum_tuple (tpl):
    return sum(tpl)

tpl_sample = (1,2,3,4,5)
print(f"Maximum: {max_tuple(tpl_sample)}")
print(f"Minimum: {min_tuple(tpl_sample)}")
print(f": {sum_tuple(tpl_sample)}")

Maximum: 5
Minimum: 1
: 15